<c-content gap="2rem">
    <c-head>Copyright!</c-head>
    <c-mouse></c-mouse>
</c-content>
<c-content gap="0.5rem">
    <c-head size="medium">
        Those are my resources
    </c-head>
    <c-link href="/">
        ...
    </c-link>
</c-content>
<c-content gap="0.5rem">
    <c-head size="medium">
        What is the difference between copyright and a license?
    </c-head>
    <c-text>
        Copyright ownership is a property right in certain works of authorship (e.g., books, movies, software code, and other types enumerated in the copyright act) that "subsists" (exists or continues to exist) at the time the work is created and continuing for a specified period of time (as defined in the copyright act). A license from the copyright holder gives permission to the recipient of the license (the licensee) to use the copyrighted work or some aspect(s) of it.
    </c-text>
</c-content>
<c-content>
    <c-text>made with 🖤 by Noel</c-text>
</c-content>

